.inputPasswordContainer {
    position: relative;
    display: flex;
    align-items: center;
}
.input {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
.input:focus{
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid black;
}

.iconPasswordContainer {
    position: absolute;
    right: 0.625rem;
    font-size: 1rem;
    top: 0.5rem;
    color: black;
}
form{
    position: relative;
}
select{
    position: absolute;
    top: 4rem;
    right: 0;
}